.profile__background {
  background-color: #ffffff;
  margin-top: -3rem;
}

.profile__tittle {
  font-family: 'DM Sans';
  color: #5d534a;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 5rem;
}

.profile__photo__texts {
  display: flex;
}

.profile__photo__Orealba {
  margin-left: 5rem;

  margin-top: 4rem;
}

.profile__photo__Orealba__style {
  width: 55rem;
  height: 20rem;
  border-radius: 20rem;
}

.profile__textOne {
  margin-left: 5rem;
  margin-right: 6rem;
  margin-top: 4rem;
  font-weight: 400;
  font-size: 1.1rem;
}

.profile__textOne__secondParagraph {
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 6rem;

  font-weight: 400;
  font-size: 1.1rem;
}

.profile__textOne__thirdParagraph {
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 6rem;

  font-weight: 400;
  font-size: 1.1rem;
}
.profile__button {
  box-sizing: border-box;
  background-color: transparent;
  margin-top: 3rem;
  margin-left: 55rem;
  margin-bottom: 3rem;
  border: 2px solid #850808;
  border-radius: 3rem;
  width: 15rem;
  height: 2.5rem;
  color: #5d534a;
  font-weight: 700;
  font-size: 1.1rem;
}
